{lib_dirs, []}.
{sub_dirs, ["rel"]}.

{require_otp_vsn, "R14|R15"}.

%{erl_opts, [no_debug_info, warn_missing_spec, verbose, report,
%        {src_dirs, ["apps/rel_bot"]}
%    ]}.
{cover_enabled, true}.
%% Enable validation of the OTP app module list. Default is 'true'
{validate_app_modules, true}.
