{version, "1.4"}.
{bname, "ercbot"}.
{whois, "an extensible Erlang Bot <mbal>"}.

{nick, "ercbot[bot]"}.
{nick2, "alterative_nickname[bot]"}.
{channel, ["#channel1", "#channel2"]}.
{server, {"irc.freenode.net", 6667}}.
{cmd_string, "!bot"}.
{plugins, [talk, search, '8ball-it', tell_time, uptime, admin]}.

{admin, ["admin"]}.
{train_file, "path\to\train\file.txt"}.
