{version, "1.7"}.
{bname, "ercbot"}.
{whois, "an extensible Erlang Bot <mbal>"}.

{nick, "ercbot[bot]"}.
{nick2, "alternative_nickname[bot]"}.
{channels, ["#channel1", "#channel2"]}.
{server, {"irc.freenode.net", 6667}}.
{cmd_string, "!bot"}.
{eplugins, [ctcp, talk, google, eval, search, '8ball-it', tell_time, uptime]}.
{splugins, [plugins, admin]}.

{admin, ["admin"]}.
{train_file, "path\to\train\file.txt"}.
